.banner-content {
    max-width: 90%;

    h1 {
        text-transform: capitalize !important;
    }
}

.blog_Details_Container {
    margin: 100px auto;

    h2 {
        max-width: 90%;
        font-size: 2rem;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px !important;
    }

    .blog_Details_Container_Image {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 40px 0 !important;
        border-top: 1px solid #000;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .blog_Details_Container_Content {
        color: #000;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px 0 !important;
    }
    
    small {
        position: relative;
    }

}

.blog_Details_Container_Grid_Gallery_Image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    img {
        width: 100%;
        height: 100%;
    }
}

.blog_Details_Container_Grid_Gallery_Image_1 { grid-area: 1 / 1 / 3 / 2; }
.blog_Details_Container_Grid_Gallery_Image_2 { grid-area: 1 / 2 / 2 / 3; }
.blog_Details_Container_Grid_Gallery_Image_3 { grid-area: 2 / 2 / 3 / 3; }


.share_section {
    margin-top: 50px;
}

.share_title {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0 !important;
}

.share_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.share_btn {
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    font-size: .8rem;
    display: inline-block;
    transition: 0.3s ease;
}

.copy-popup {
    position: fixed;
    top: 20px;
    right: -300px; /* əvvəl gizli */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 12px 22px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    z-index: 9999;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);

    transition: all 0.4s ease;
    opacity: 0;
}

.copy-popup.show {
    right: 20px;
    opacity: 1;
}

.share_btn.whatsapp {
    background: #25D366;
}

.share_btn.facebook {
    background: #1877F2;
}

.share_btn.twitter {
    background: #000;
}

.share_btn.telegram {
    background: #0088cc;
}

.share_btn.copylink {
    background: #555;
}

.share_btn:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}

.blogs_Details_Hero_Card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #000;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    max-width: 410px;
    width: 95%;
    box-shadow: 0 10px 10px #0000000d;

    .blogs_Details_Hero_Card_Image {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .blog_Details_Card_description {
        padding: 0 12px 20px 12px !important;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h3 {
        font-size: 1.2rem;
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        transition: .2s ease-in-out;
    }

    .date {
        color: #7676b3;
    }

    p {
        font-size: 1rem;
    }
}

.blogs_Details_Hero_Card:hover {
    box-shadow: 0 10px 10px #0000001a;
    transition: .3s;
}

.ourLatest_Meetings_Title {
    font-size: 2.3rem !important;
    font-weight: 700;
    margin-bottom: 40px !important;
}

.blogs_Details_Hero_Card .blogs_Details_Hero_Card_category_Title {
    font-size: 0.875rem;
    cursor: pointer;
    max-width: max-content;
    padding: 4px 7px !important;
    width: 100%;
    background-color: #e6e6f1;
}


.blogs_Details_Hero_Card:hover img {
    transform: scale(1.2);
}

.author-box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 25px;
    margin-top: 40px;
    border-radius: 14px;
    background: #ffffff;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
    border: 1px solid #e6e6e6;
}

.author-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e0e0e0;
}

.author-info .author-name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #111;
}

.author-info .author-role {
    margin: 4px 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: #888;
}

.author-bio {
    font-size: 15px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
}

.author-socials a {
    margin-right: 12px;
    color: #333;
    font-size: 18px;
    transition: 0.3s;
}

.author-socials a:hover {
    color: #0a84ff;
    transform: translateY(-2px);
}


/* Follow Us Start */

.newsletter {
    background: #f8f9fa;
    padding: 40px 20px;
    border-radius: 16px;
    text-align: center;
    margin-top: 40px;
}

.newsletter-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter-text {
    color: #555;
    margin-bottom: 20px;
    font-size: 16px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;

    .newsletterForm_Btn {
        background-color: #004586;
    }

    .newsletterForm_Btn:hover {
        background-color: #004586;
    }
}

.newsletter-form input {
    padding: 12px 15px;
    width: 260px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease;
}

.newsletter-form input:focus {
    border-color: #0d6efd;
    outline: none;
}

.newsletter-form button {
    padding: 12px 20px;
    background: #0d6efd;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.newsletter-form button:hover {
    background: #004fc4;
}

.newsletter-popup-Title_Icon {
    display: flex !important;
    justify-content: center;
    gap: 0 20px;
}

.newsletter-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #088828;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    display: none;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    z-index: 9999;
}


/* Follow Us End */

/* Tag Section Start */

.blog-tags {
    margin-top: 40px;
    padding: 20px;
    background: #f8f9fa40;
    border-radius: 16px;
}

.tags-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px !important;
    text-transform: uppercase;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    padding: 8px 14px;
    background: #e9ecef;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    transition: 0.3s ease;
    display: inline-block;
}

.tag:hover {
    background: #004586;
    color: #fff;
    transform: translateY(-2px);
}

/* Tag Section End */


/* CTA BANNER */
.cta-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgb(23,23,23), #0284ff);
    color: #fff;
    margin: 50px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.cta-content {
    flex: 1;
    min-width: 250px;
}

.cta-content h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.cta-content p {
    font-size: 16px;
    margin: 20px 0 !important;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    background: #fff;
    color: #004586;
    max-width: max-content;
    font-weight: 700;
    padding: 12px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-image {
    flex: 1;
    min-width: 250px;
    text-align: right;
}

.cta-image img {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    object-fit: cover;
    background-color: #fff;
}

/* RESPONSIVE */
@media screen and ( max-width: 768px ) {
    .cta-banner {
        flex-direction: column;
        text-align: center;
    }

    .cta-image {
        text-align: center;
        margin-top: 20px;
    }
}

/*  */


/* FIXED SIDEBAR Start */

/* .fixed-sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #fff;
    padding: 20px;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 220px;
    z-index: 999;
    transition: 0.3s;
}

.fixed-sidebar h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px !important;
}

.fixed-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.fixed-sidebar ul li {
    margin-bottom: 10px;
}

.fixed-sidebar ul li a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
    transition: 0.3s;
}

.fixed-sidebar ul li a:hover {
    color: #000000;
}

.sidebar-cta-modern .cta-btn-modern {
    display: block;
    text-align: center;
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    color: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar-cta-modern .cta-btn-modern:hover {
    transform: scale(1.01);
    box-shadow: 0 0px 18px var(--color);
    transition: .3s;
}

@media screen and (max-width: 992px) {

    .fixed-sidebar {
        display: none;
    }
}
 */
/* FIXED SIDEBAR End */


@media screen and ( min-width: 1300px ) {
    
    .blogs_News_Section_banner {
        height: 700px !important;
    }

    .blog_Details_Container {

        h2 {
            font-size: 3rem;
        }

        .blog_Details_Container_Image {
            width: 100%;
            height: 600px !important;
        }

        .blog_Details_Container_Content {
            color: #000;
            font-size: 1.2rem;

            h4 {
                font-size: 2rem;
            }
        }
    }
}

